@font-face {
    font-family: 'Super Plumber Brothers';
    src: local('Super Plumber Brothers'), url('../font/Super Plumber Brothers.ttf');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/fundoAmarelo.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Super Plumber Brothers', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #e60000;
    margin: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 600px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: url('../img/questionBlock.png') round;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #fff;
    cursor: default;
}

.deck .card.match {
    cursor: default;
}

.img-hidden {
    visibility: hidden;
}

.img-visible {
    width: 90%;
    height: 90%;
    visibility: visible;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    height: 14%;
    width: 10%;
}

/*
 * Styles for the Modal
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
}

#btnPlay {
    margin: 10px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #e60000;
    border: none;
    border-radius: 10px;
}

.moves {
    margin-right: 30px;
}

.score-panel-modal {
    width: 100%;
    margin-bottom: 10px;
}

.score-panel-modal .stars-modal {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel-modal .stars-modal li {
    list-style: none;
    display: inline-block;
}

.stars-modal {
    color: #ffde03;
}

/* Extra small devices (phones) */
@media (min-width: 360px) and (max-width: 415px) {
    .deck {
        width: 340px;
        min-height: 400px;
        padding: 12px; 
    }
    
    .deck .card {
        height: 66px;
        width: 66px;
    }

    .score-panel {
        padding-left: 30px;
    }

    .restart {
        margin-right: 50px;
        height: 14%;
        width: 10%;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    .img-visible {
        width: 75%;
        height: 75%;
    }

    .modal-content {
        width: 80%;
    }